<!-- blog/templates/blog/post_form.html -->
{% extends 'base.html' %}

{% block content %}
<h2>{% if form.instance.pk %}Edit Post{% else %}Create New Post{% endif %}</h2>
{% if form.errors %}
    <p style="color: red;">Please correct the errors below:</p>
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
<a href="{% url 'post-list' %}">Cancel</a>
{% endblock %}